/*================================================

General

================================================*/

* {
    box-sizing:border-box;
  }

body{
    overflow: hidden
}

  
  /*================================================
  
  Score
  
  ================================================*/
  
  .score {
    color: red;
    font-size: 40px;
    font-weight: bold;
    padding-top: 5px;
    text-align: center;
  }
  
  /*================================================
  
  Stage
  
  ================================================*/

  .card-container {
    display: grid;
    grid-template-columns: auto 1fr; /* Define two columns: auto for side elements, 1fr for stage */
    grid-template-rows: auto 1fr; /* Define two rows: auto for leaderboards, 1fr for stage */
    gap: 20px; /* Space between columns and rows */
  }

  .leaderboards {
    background: rgba(68, 68, 68, 0.25);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(68, 68, 68, 0.13);
    border-radius: 16px;
    
    padding: 20px;
    min-height: 200px;
    min-width: 250px;
    max-width: 100%; /* Allow it to scale with the screen size */
    overflow-x: auto; /* Enable horizontal scrolling if content overflows */
  }
  
  .controls {
    background: rgba(68, 68, 68, 0.25);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(68, 68, 68, 0.13);
    border-radius: 16px;

    padding: 20px;
    max-height: 150px;
    min-width: 250px;
    flex-wrap: wrap; /* Allow controls to wrap on smaller screens */
  }
  
  @media (max-width: 768px) {
    .leaderboards,
    .controls {
      min-width: 100%;
      margin: 10px 0;
      padding: 20px;
    }
  
    .leaderboards {
      min-height: 300px; /* Adjust minimum height for smaller screens */
    }
  
    .controls {
      min-height: 150px; /* Adjust minimum height for smaller screens */
    }
  }
  

.stage {
    grid-column: 2;
    grid-row: 1 / span 2; /* Span the second column across both rows */
    flex: 3; /* Takes up more space on the right */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    display: inline-block;
    position: relative;
}



  /*================================================
  
  Tiles
  
  ================================================*/
  
  .tile {
    background: rgba(0, 0, 0, 0.15);
    position: absolute;
    transition-property:
      background,
      box-shadow,
      opacity,
      transform
    ;
    transform: translateZ(0);
    transition-duration: 4000ms;
  }
  
  .tile:before {
    bottom: 0;
    content: '';
    height: 0;
    left: 0;
    margin: auto;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    transition: opacity 100ms;
  }
  
  .tile.path:before {
    opacity: 1;
  }
  
  .tile.up:before {
    border-bottom: 4px inset rgba(255, 255, 255, 0.15);
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
  }
  
  .tile.down:before {
    border-top: 4px inset rgba(255, 255, 255, 0.15);
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
  }
  
  .tile.left:before { 
    border-right: 4px inset rgba(255, 255, 255, 0.15);
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
  }
  
  .tile.right:before { 
    border-left: 4px inset rgba(255, 255, 255, 0.15);
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
  }
  
  @media (max-width: 900px), (max-height: 900px) {
    .tile.up:before,
    .tile.down:before,
    .tile.left:before,
    .tile.right:before {
      border-width: 3px;
    }
  }
  
  @media (max-width: 500px), (max-height: 500px) {
    .tile.up:before,
    .tile.down:before,
    .tile.left:before,
    .tile.right:before {
      border-width: 2px;
    }
  }
  
  .tile.pressed {
    background: rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.6);
    transition-duration: 0ms;
  }