.container-selector{
    display: inline-block;
    background: rgba(68, 68, 68, 0.25);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(68, 68, 68, 0.13);
    padding: 30px;
    margin: 10px; /* Adjust margin to create space */
    min-width: 100px; /* Minimum width to prevent too narrow columns */
    text-size-adjust: larger;
  }