/* General styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-family: monospace;
  }
  
  body, h1, h2, h3, p, a, label, li {
    color: inherit;
  }
  
  body {
    background: radial-gradient(circle at center, #2d2d2d, #3c3c3c, #4c4c4c, #2d2d2d, #636363);
    background-color: #2d2d2d;
    background-size: 200% 200%;
    background-repeat: no-repeat;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    animation: gradient 20s ease-in-out infinite;
    position: relative;
    overflow: hidden;
  }
  
  @keyframes gradient {
    0% {
      background-position: 20% 20%;
    }
    50% {
      background-position: 100% 100%;
    }
    100% {
      background-position: 20% 20%;
    }
  }
  
  header {
    text-align: center;
    color: white;
    margin-top: 2vh; /* Responsive margin */
    width: 20%; /* Fixed width */
    border-bottom: 1px solid #929292;
  }
  
  main {
    padding: 2vw; /* Responsive padding */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  section {
    margin-bottom: 2vw; /* Responsive margin */
  }
  
  h1 {
    font-size: 2.5em;
    margin-bottom: 1.5vw; /* Responsive margin */
    color: #d6d6d6;
  }
  
  h2 {
    font-size: 2em;
    margin-bottom: 1.5vw; /* Responsive margin */
    color: #d6d6d6;
    text-align: center;
  }
  
  h3 {
    font-size: 1.5em;
    color: #d6d6d6;
  }
  
  p {
    font-size: 1.1em;
    margin-bottom: 1.5vw; /* Responsive margin */
    color: #d6d6d6;
    text-align: center;
  }
  
  a {
    color: #d6d6d6;
  }
  
  label {
    color: white;
  }
  
  /* Footer */
  .foot {
    margin-bottom: 1vh; /* Responsive margin */
    bottom: 2vh; /* Responsive position */
    justify-content: center;
    display: flex;
    flex-direction: row;
  }
  
  .dot {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5vh; /* Responsive margin */
  }
  
  .dot:hover {
    transform: scale(1.1); /* Scale effect on hover */
    transition-duration: 300ms;
  }
  
  .ft-link {
    padding: 0.5vh 1vw; /* Responsive padding */
  }
  
  .ft-link:hover {
    background-color: #4c4c4c;
    border-radius: 5px;
    transition-duration: 300ms;
  }
  
  /* Landing */
  .enter {
    margin-top: 2vh; /* Responsive margin */
  }
  
  .button-enter {
    color: #d6d6d6;
    height: 2vh; /* Responsive height */
    width: 10vw; /* Responsive width */
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 2vh 4vw; /* Responsive padding */
    background: rgba(68, 68, 68, 0.55);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(68, 68, 68, 0.13);
  }
  
  .button-enter:hover {
    transform: scale(1.1); /* Scale effect on hover */
    transition-duration: 300ms;
    color: #b2533e; /* Hover color change */
  }
  
  /* Login */
  .squircle {
    background: rgba(68, 68, 68, 0.25);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(68, 68, 68, 0.13);
    padding: 2vw; /* Responsive padding */
    width: 50vw; /* Responsive width */
  }
  
  .input-field {
    display: flex;
    margin: 1.5vw 0; /* Responsive margin */
    width: 60%; /* Responsive width */
  }
  
  .input-field input {
    flex: 1;
    padding: 1vw; /* Responsive padding */
    border: 1px solid #3c3c3c;
    border-radius: 4px;
    font-size: 1em; /* Responsive font size */
    color: white;
    background-color: transparent;
  }
  
  .link {
    font-size: 0.8em; /* Responsive font size */
    color: #d6d6d6;
    text-decoration: none;
    display: block;
    margin-top: 1vh; /* Responsive margin */
  }
  
  .action {
    margin-top: 2vh; /* Responsive margin */
    align-items: center;
    justify-content: center;
    display: flex;
  }
  
  .action button {
    padding: 1vh 2vw; /* Responsive padding */
    margin-right: 1vw; /* Responsive margin */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em; /* Responsive font size */
    margin-bottom: 1vh; /* Responsive margin */
  }
  
  .action button:first-child {
    /* Adjust as needed */
  }
  
  .action button:last-child {
    background-color: #3c3c3c;
    color: #d6d6d6;
  }
  
  .reg {
    color: #b2533e;
  }
  
  /* Donut */
  .container {
    padding: 1vw; /* Responsive padding */
    width: 80%; /* Responsive width */
    height: 60vh; /* Responsive height */
    margin: 2vh;
  }
  
  /* Dashboard */
  li {
    color: #d6d6d6;
    list-style-type: none;
  }
  